flows/user-data/.nr-flows.json.backup
[{"id":"390aafd1.eb832","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"239dacbf.7da804","type":"http in","z":"390aafd1.eb832","name":"","url":"/sendEmail","method":"post","upload":false,"swaggerDoc":"","x":180,"y":660,"wires":[["6be03af4.1db9c4"]]},{"id":"6be03af4.1db9c4","type":"function","z":"390aafd1.eb832","name":"","func":"msg.payload='your OTR trip details.';\nmsg.attachments = [\n    {   \n        // utf-8 string as an attachment \n        filename: '/home/neutrinos/Desktop/Node/otr.zip',\n        path: '/home/neutrinos/Desktop/Node/otr.zip',\n        content: \"g\"\n    }\n];\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":740,"wires":[["24b20d6a.f33aa2","b1528a3.e42db78"]]},{"id":"b1528a3.e42db78","type":"debug","z":"390aafd1.eb832","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":660,"y":820,"wires":[]},{"id":"24b20d6a.f33aa2","type":"e-mail","z":"390aafd1.eb832","server":"smtp.gmail.com","port":"465","secure":true,"name":"rahul90pudabal@gmail.com","dname":"","x":750,"y":680,"wires":[]}]