flows/user-data/nr-flows.json
[{"id":"390aafd1.eb832","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"239dacbf.7da804","type":"http in","z":"390aafd1.eb832","name":"","url":"/sendEmail","method":"post","upload":false,"swaggerDoc":"","x":290,"y":120,"wires":[["6be03af4.1db9c4","dc0ac7fa.fb12f8"]]},{"id":"6be03af4.1db9c4","type":"function","z":"390aafd1.eb832","name":"","func":"msg.attachments = [\n    {   \n        // utf-8 string as an attachment \n        filename:  msg.payload.name + '.zip',\n        path: '/home/neutrinos/Desktop/Node/' + msg.payload.name + '.zip',\n        content: \"g\"\n    }\n];\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":200,"wires":[["24b20d6a.f33aa2","b1528a3.e42db78"]]},{"id":"b1528a3.e42db78","type":"debug","z":"390aafd1.eb832","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":750,"y":280,"wires":[]},{"id":"24b20d6a.f33aa2","type":"e-mail","z":"390aafd1.eb832","server":"smtp.gmail.com","port":"465","secure":true,"name":"bhagyaspatil95@gmail.com","dname":"","x":860,"y":140,"wires":[]},{"id":"dc0ac7fa.fb12f8","type":"debug","z":"390aafd1.eb832","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":120,"wires":[]}]