flows/user-data/nr-flows.json
[{"id":"390aafd1.eb832","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"53117bac.59e424","type":"debug","z":"390aafd1.eb832","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":610,"y":300,"wires":[]},{"id":"6c07fef0.72306","type":"function","z":"390aafd1.eb832","name":"","func":"\nmsg.payload='your OTR trip details.';\n\nmsg.attachments = [\n    {   \n        // utf-8 string as an attachment \n        filename: '/home/neutrions/Downloads/report/sample.zip',\n        path: '/home/neutrions/Downloads/report/sample.zip',\n        // content: \"g\"\n    }\n];\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":120,"wires":[["53117bac.59e424","c6f1ae14.cefb4"]]},{"id":"c6f1ae14.cefb4","type":"e-mail","z":"390aafd1.eb832","server":"smtp.gmail.com","port":"465","secure":true,"name":"rahul90pudabal@gmail.com","dname":"","x":640,"y":160,"wires":[]},{"id":"9ea599c5.008838","type":"debug","z":"390aafd1.eb832","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":240,"y":300,"wires":[]},{"id":"28e541a6.4e9c3e","type":"debug","z":"390aafd1.eb832","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":440,"y":480,"wires":[]},{"id":"239dacbf.7da804","type":"http in","z":"390aafd1.eb832","name":"","url":"/sendEmail","method":"post","upload":false,"swaggerDoc":"","x":180,"y":660,"wires":[["6be03af4.1db9c4"]]},{"id":"6be03af4.1db9c4","type":"function","z":"390aafd1.eb832","name":"","func":"msg.payload='your OTR trip details.';\nmsg.attachments = [\n    {   \n        // utf-8 string as an attachment \n        filename: '/home/neutrions/Downloads/report/sample.zip',\n        path: '/home/neutrions/Downloads/report/sample.zip',\n        content: \"g\"\n    }\n];\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":740,"wires":[["24b20d6a.f33aa2","b1528a3.e42db78"]]},{"id":"b1528a3.e42db78","type":"debug","z":"390aafd1.eb832","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":660,"y":820,"wires":[]},{"id":"24b20d6a.f33aa2","type":"e-mail","z":"390aafd1.eb832","server":"smtp.gmail.com","port":"465","secure":true,"name":"rahul90pudabal@gmail.com","dname":"","x":750,"y":680,"wires":[]},{"id":"2d4be237.2dd99e","type":"http in","z":"390aafd1.eb832","name":"","url":"/sendEmail","method":"post","upload":false,"swaggerDoc":"","x":110,"y":100,"wires":[["6c07fef0.72306"]]}]